<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>
    <title>Solstice</title>
    <meta name = "keywords" content="schiuri, iarna, snowboard, echipament, clapari, bete, casca, boti, manusi, cagula, căciula, șosete, bluze termice, locație, transport, geaca, polar, articole, review, patine, sanie, ski, tabere, cursuri, second-hand, gutiera, huse, genti, rucsac, camere, zăpadă, sport, oferta, reduceri, pantaloni, ghete, adidasi">
    <script src="index.js"></script>
    <meta name ="description" content="Magazin de echipamente de iarna Solstice. Infrunta zapezile cu incredere">
</head>

<body>
    <p id="watermark"></p>
</body>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        
        <div id="grid-pagina">
            <section id="welcome">
                <h2>Bine ati venit!</h2>
                <%- include("../fragmente/formular-login.ejs")%>
                <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
                <p>Ip: <%- locals.ip %></p>
                    <p>
                        <a href="https://ro.wikipedia.org/wiki/Schi" target="_blank">Skiwiki</a>
                        În aceast site puteti gasii <b>produse de iarna </b> si <b>echipamente pentru sporturi de iarna</b>, precum: <b>geci, schiuri, snowbord, clapari, bete, casti, booti, manusi, cagule, caciuli, sosete, bluze termice, polare,</b> precum si anumite servicii pentru <b>ascutire schiuri/placi snowboard, reglare clapari, reglare schiuri etc</b>
                    </p>
                <figure>

                <picture>
                    <source class="p_schiuri" srcset="./resurse/imagini/ski.jpg" media="(max-width:700px)"/>
                    <source class="p_schiuri" srcset="./resurse/imagini/snowboard.jpg" media="(max-width:1200px)"/>
                    <img class="p_schiuri" src="./resurse/favicon/Imagine ski.jpg" width="400" height="500" alt="Imagine">
                </picture>

                <figcaption>
                    Cele mai cautate echipamente!
                </figcaption>

                </figure>
            </section>
            <section id="tabel">
                <table id="tab-orar">
                    <thead>
        
                        <tr>
                            <th><b>Cod</b></th>
                            <th><b>Perioadă</b></th>
                            <th><b>Zi</b></th>
                            <th><b>Interval dimineata</b></th>
                            <th><b>Pauza de masa</b></th>
                            <th><b>Interval seară</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td rowspan="5">Zile<br/>Lucrătoare</td>
                            <td>Luni</td>
                            <td>8-14</td>
                            <td>14-15</td>
                            <td>15-18</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Marti</td>
                            <td>8-14</td>
                            <td>14-15</td>
                            <td>15-18</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Miercuri</td>
                            <td>8-14</td>
                            <td>14-15</td>
                            <td>15-18</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Joi</td>
                            <td>8-14</td>
                            <td>14-15</td>
                            <td>15-18</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Vineri</td>
                            <td>8-14</td>
                            <td>14-15</td>
                            <td>15-18</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td rowspan="2">Weekend</td>
                            <td>Sambata</td>
                            <td>10-12</td>
                            <td>12-13</td>
                            <td>13-16</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Duminica</td>
                            <td>inchis</td>
                            <td>inchis</td>
                            <td>inchis</td>
                        </tr>
                    </tbody>
                    <tfoot><tr><td colspan="6">In perioada sarbatorilor legale inchis!</td></tr></tfoot>
                </table>
            </section>
            <section id="evenimente">
                <h2>Viitoare evenimente vor fi adaugate aici</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
            </section>

            <section id="anunturi">
                <div id="container-text">
                    <div id="text">
                        <h2>Oferte!!!</h2>
                    </div>
                    <div id="text-reflectat">
                        <h2>Oferte!!!</h2>
                    </div>
                </div>

                <div class="intro-tabel"><div>Casca schi reducere</div><div>snowboard placa reducere</div><div>bete leki la super oferta</div></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
            </section>
            <section id="utilizatori">
                <%- include("../fragmente/useri-online.ejs")%>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
            </section>
            <section id="date_utilizator">
                <h2>Date utilizator</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
            </section>
            <section id="date_site">
                <h2>date_site</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
            </section>
            <section id="echipa_noastra">
                <div class="table-container">
                    <table>
                      <caption>Cei mai buni angajati</caption>
                      <thead>
                        <tr>
                          <th>Nume</th>
                          <th>Prenume</th>
                          <th>Numar sapatamani(angajatul sapatamanii)</th>
                          <th>Premiu</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Marin</td>
                          <td>Gabriel-Horatiu</td>
                          <td>5 sapatamani</td>
                          <td>Cel mai bun vanzator de schiuri</td>
                        </tr>
                        <tr>
                          <td>Ion</td>
                          <td>Stefan-Gabriel</td>
                          <td>10 saptamani</td>
                          <td>Cel mai bun reparator de schiuri</td>
                        </tr>
                        <tr>
                          <td>Popescu</td>
                          <td>Maria</td>
                          <td>21 saptamani</td>
                          <td >Cea mai buna vanzatoare de snowbord</td>
                        </tr>
                        <tr>
                          <td>Ilie</td>
                          <td>Mihaela</td>
                          <td>12 saptamani</td>
                          <td>Cea mai buna monitoare de schi</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>Rezultat</td>
                          <td colspan="3">Tabelul top 4 cei mai buni angajati ai firmei</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
            </section>
            <section id="index-intrebari">
                <h2>Intrebari frecvente</h2>
            <details><summary>Produsele de pe site sunt noi</summary>
                <p>Da!</p>
            </details>
            </section>
            <section id="parteneri">
                <h2>Parteneri</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
            </section>
        </div>

        <div id="absolut" class="banner">
            <p>Acesta este un proiect școlar!</p>
            <p>Acceptați cookie-uri?</p>
            <button id="acceptButton">OK</button>
        </div>

        <section id="Produse">
            <h2>Produsele noastre sunt:</h2>

            <p><b>Schiul <abbr title = "Schiul">ski</abbr> colectează diferite discipline sportive de iarnă, unite prin utilizarea schiurilor ca instrument pentru deplasarea distanțelor pe suprafețe înzăpezite. Sporturile care folosesc schiurile departe de zăpadă sunt schiul nautic și schiul pe iarbă. Multe tipuri de evenimente de schi competitive sunt recunoscute de <abbr title = "Comitetul Olimpic Internațional">COI</abbr>  și de <abbr title = "Federația Internațională de Schi">FIS</abbr>.</b></p>

                <div class="container-iframe">
                    <div class="taburi-iframe">
                        <a href="https://www.youtube.com/embed/SUy9lRGm_XM?si=Lf38whpIGP_UtHA2" target="ifr-video">Schirui atomic</a>
                        <a href="https://www.youtube.com/embed/Olpc3Y4qIWQ?si=PwmePTi0duNfAoUE" target="ifr-video">Schirui atomic G9</a>
                        <a href="https://youtu.be/DtET98-cS5Q?si=VjQDoZo-i5vakiWO" target="ifr-video">Visit Ischgl</a>
                        
                    </div>
                    <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/SUy9lRGm_XM?si=Lf38whpIGP_UtHA2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
        </section>
        

        <div class="reflexie-container">
            <h2 class="reflexie-text" id="reflexie">Servicile noastre sunt:</h2>
            <p>
    
            </p>
        </div>

        <section id="Cursuri si tabere de iarna">
            <h2>Taberele noastre de iarna sunt:</h2>
            <p>
                
            </p>

            <h2>Cursurile de iarna sunt:</h2>

            <p>

            </p>

        </section>

        <section id="Contact">
            <h2>Ne puteti contacta la:</h2>
            <p>

            </p>

        </section>
        
        <video controls preload="auto" poster="resurse/imagini/poster.jpg" class="video-player" width="80%" min-width="300px" max-width="800px">
            <source src="resurse/videoclipuri/video.mp4" type="video/mp4">
            <source src="resurse/videoclipuri/video.webm" type="video/webm">

            <track src="resurse/videoclipuri/subtitrari_ro.vtt" kind="subtitles" srclang="ro" label="Română" default>
            <track src="resurse/videoclipuri/subtitrari_eng.vtt" kind="subtitles" srclang="en" label="English">
            Your browser does not support the video tag.
        </video>
        
        <div class="duotone-image-container">
            <img src="./resurse/favicon/Imagine ski.jpg" width="400" height="500" alt="Imagine">
          </div>
        


        <a href="http://google.com" target="_blank"
        class="special-link">google</a>
        <a href="https://teams.microsoft.com/v2/" target="_blank"
        class="special-link">teams</a></a>
        <a href="https://www.youtube.com/" target="_blank"
        class="special-link">youtube</a></a>
        <a href="https://www.instagram.com/" target="_blank"
        class="special-link">instagram</a></a>


        
        <section id="galerie-statica" class="image-index">            
            <h2>Galerie</h2>            
            <div id="grid-galerie">                
                <%                     
                    var vOre = [[0,1],[2,3],[4,5],[6,7],[8,9],[10,11],[12,13],[14,15],[16,17],[18,19],[20,21],[22,23],[23,24]];                    
                    var d = new Date();                    
                    var oraCurenta = d.getHours();

                    for (let imag of locals.imagini) {                         
                        for (let interval of vOre) {
                            if (oraCurenta >= interval[0] && oraCurenta <= interval[1]) {                        
                                 %>                            
                                <figure>
                                    <picture>                                    
                                        <source srcset="<%= imag.fisier_mediu %>" media="(max-width:1200px)"/> 
                                        <source srcset="<%= imag.fisier_mic %>" media="(max-width:700px)"/>                                   
                                        <img src="<%= imag.fisier %>" alt="imagini">                                
                                    </picture>                                                        
                                    <figcaption><%= imag.descriere_imag %></figcaption>                            
                                </figure>                    
                        <% } %>                
                     <% } %>                        
                    <% } %>                        
                </div>       
         </section>


    </main>

    <%- include("../fragmente/footer.ejs") %>
    
</body>
</html>