<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Solstice magazinul de sporturi de iarna pentru toti iubitorii de activitati pe zapada">
        <meta name="keywords" content="schiuri, iarna, snowboard, echipament, clapari, bete, casca, boti, manusi, cagula, căciula, șosete, bluze termice, locație, transport, geaca, polar, articole, review, patine, sanie, ski, tabere, cursuri, second-hand, gutiera, huse, genti, rucsac, camere, zăpadă, sport, oferta, reduceri, pantaloni, ghete, adidasi">
        
        <title>Solstice</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
        <script src="/resurse/js/compara.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Materiale <span class="materiale"><%- locals.prod.materiale %> </span></p>
                    <p>Categoriee: <span class="categoriee"><%- locals.prod.categoriee %> </span></p>
                    <p>Categorie <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Masura: <span class="masura"><%- locals.prod.masura %> </span></p>
                    <p>Culoare: <span class="culoare"><%- locals.prod.culoare %> </span></p>
                    <p>Garantie: <span class="garantie"><%- locals.prod.garantie %> </span></p>
                    <p>Posta: <span class="posta"><%- locals.prod.posta %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>

        <h3>Seturi care includ acest produs</h3>
                <% seturi.forEach(set => { %>
                    <div class="set">
                        <h4><%= set.nume_set %></h4>
                        <p><%= set.descriere_set %></p>
                        <ul>
                            <% set.produse.forEach((produs, index) => { %>
                                <li>
                                    <a href="/produs/<%= set.produs_ids[index] %>"><%= produs %></a> - <%= set.preturi[index] %> RON
                                </li>
                            <% }) %>
                        </ul>
                        <p>Preț total: <%= set.pret_total.toFixed(2) %> RON</p>
                        <p>Preț final cu reducere: <%= set.pret_final.toFixed(2) %> RON</p>
                    </div>
                <% }) %>

        <button class="compara-btn" onclick="adaugaLaComparare('<%- prod.id %>', '<%- prod.nume %>')">Compară</button>
                <div id="container-comparare" style="display: none; position: fixed; bottom: 10px; right: 10px; background: #fff; border: 1px solid #ccc; padding: 10px;">
                    <div id="produse-comparare"></div>
                    <button onclick="afiseazaComparare()">Afișează</button>
                </div>
    </main>

    

    <%- include("../fragmente/footer") %>
    </body>
</html>